root
{--main: #fcb721;
    --main_soft: #fdcf6d;
    --sub: #fd8628;
    --sub_soft: #ffb175;
    --social_main: #4fbcbd;
    --social_sub: #4ed4b0;
    --esn: #76c047;
    --cn: #1394d2;
    --pn: #9e3d97;
    --kn: #e72c6a;
    --se: #010101;
    --sa: #053043;
    --group: #24bad2;
    --enterprise: #c12525;
    --establishment: #e87a1a;
    --white: #fff;
    --grey: #f9f9f9;
    --grey-5: #f1f2f2;
    --grey-10: #e6e7e8;
    --grey-20: #d1d3d4;
    --grey-30: #bcbec0;
    --grey-50: #939598;
    --grey-70: #6c6d6f;
    --grey-80: #58595b;
    --grey-90: #414042;
    --grey-100: #231f20;
    --black: #000;
    --error: #ff6e44;
    --success: #4bb172;
    --warning: #f1ab3e;
    --info: #29b8ff;
    --facebook: #3b5998;
    --linkedin: #0077b5;
    --youtube: red;
    --google-blue: #4285f4;
    --google-red: #db4437;
    --google-yellow: #f4b400;
    --google-green: #0f9d58;
    --googleplus: #dd4b39;
    --twitter: #1da1f2;
    --instagram: linear-gradient(30deg,#8a3ab9 -50%,#fbad50 6%,#cd486b 96%,#4c68d7);
    --pinterest: #bd081c;
    --skype: #00aff0;
    --tumblr: #35465c;
    --vimeo: #1ab7ea;
    --vine: #00b488;
    --whatsapp: #128c7e;
    --wordpress: #21759b;
    --snapchat: #fffc00;
    --behance: #1769ff;
    --dribbble: #444;
    --flickr: #0063dc;
    --foursquare: #f94877;
    --deviantart: #05cc47;
    --bpost: #ef2637;
    --thumbsup-emoji: #53c9e6;
    --love-emoji: #ef72cd;
    --wow-emoji: #bb7bfd;
    --happy-emoji: #ff860f;
    --sad-emoji: #3c81b6;
    --angry-emoji: #ed2504;
    --favorite: #f17fe0;
    --ads: #fdb913;
    --video: #0059c7;
    --website: #080808;
    --eshop: #62b331;
    --newsletter: #00384e;
    --map: #cc2d2d;}